.component-display{
    background-color: #858694;
    color:white;
    text-align:right;
    font-weight:200;
    flex:1 0 auto;
    width:100%;
}
.component-display > div{
    font-size:2.5em;
    padding: 0.2em 0.7em 0.1em 0.5em;
}